* {
    padding: 0;
    margin: 0;
}
html{
    text-align: center;
    background-color: #0000fa;
}
fieldset{
    box-shadow: 0px 0px 8px 8px white;
    color: white;
}
legend{
    padding-top: 25px;
}