* {
    padding: 0;
    margin: 0;
}
html{
    text-align: center;
    background-color: darkseagreen;
}
div{
    background-color: gainsboro;
    border-radius: 10px;
    margin: 0.5em 10em 1em 10em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}